html, body {
	background-color: black;
	font: 12pt sans-serif;
	color: whitesmoke;
}
.compass {
	overflow:hidden;	/* avoid reflows when rotating */
	margin:1em 0;
}
.compass img {
	margin:0 auto;
	display: block;
}
label.checked {
	background-color: #ffe;
}
label {
	display: block;
	border: 1px solid grey;
	background-color: #eee;
	color: black;
	padding: .8em;
	border-radius: .5em;
}